version: "3"

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      # No PUID/PGID to own volumes
      TZ: "${TZ}"
    volumes:
      - "${VOLUME_PREFIX}/homepage:/app/config"
      - $XDG_RUNTIME_DIR/podman/podman.sock:/var/run/docker.sock
    ports:
      - 3000:3000
    restart: "${RESTART_POLICY}"

